.navbar-item, .title, .content, .subtitle, .column {
  color: #45ADA8;
  font-family: 'Sunflower', sans-serif;
}

.new-registration-wrapper, .login-form-wrapper, .new-form-wrapper, .login-form,
.registration-form, .edit-form-wrapper {
  background-image: url("http://wallpapers-best.com/uploads/posts/2015-10/1_vinyl.jpg");
}

.edit-form-title, .new-record-title  {
  padding-left: 50px;
  font-size: 30px;
  background-color: black;
  color: #45ADA8;
  font-family: 'Sunflower', sans-serif;
}

.login-form, .registration-form, .edit-form {
  width: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.label, .user-greeting, .logo {
  font-family: 'Sunflower', sans-serif;
}

.title {
  background-color: black;
  padding: 2px;
}

.column {
  font-family: 'Sunflower', sans-serif;
  padding-top: 20px;
}

.columns {
  background-color: black;
  padding-bottom: 100px;
}

.new-form-wrapper {
  padding: 50px 1250px 175px 50px;
}

.navbar {
  margin-bottom: 12px;
  font-size: 20px;
}
