

<section class="new-registration-wrapper">
  <form method="POST" action="/register" class="registration-form">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" name="username" id="username" placeholder="Username">
        <span class="icon is-small is-right">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="email" name="email" id="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" name="password" id="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Register
        </button>
      </p>
    </div>
  </form>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Vinyl Destination</strong> created by <a href="http://www.antonialston.com/">Antoni Alston</a>
      </p>
    </div>
  </div>
</footer>
