<nav class="navbar is-danger is-bold" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://www.pngmart.com/files/6/Vinyl-PNG-Transparent-Image.png" alt="Record Playing">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="/records" class="navbar-item">
        All Records
      </a>
      <a href="/records/new" class="navbar-item">
        New Record
      </a>
    </div>
  </div>
</nav>
