<h2>Create a new Record</h2>

<form action="/records" method="post">
 <div class="field">
   <label class="label">Title</label>
   <div class="control">
     <input class="input" type="text" name="title">
   </div>
 </div>

 <div class="field">
   <label class="label">Artist</label>
   <div class="control">
     <input class="input" type="text" name="artist">
   </div>
 </div>

 <div class="field">
   <label class="label">Format</label>
   <div class="control">
     <input class="input" type="text" name="format">
   </div>
 </div>

 <div class="field">
  <label class="label">Price</label>
  <div class="control">
    <input class="input" type="text" name="price">
  </div>
</div>

 <div class="field">
   <label class="label">Image</label>
   <div class="control">
     <input class="input" type="text" name="image">
   </div>
 </div>

 <div class="field is-grouped">
  <div class="control">
     <button class="button is-link">Submit</button>
   </div>
 </div>

   <div class="control">
     <button class=“button is-text”>Cancel</button>
   </div>
 </div>
</form>
