<section class="hero is-large is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Vinyl Destination
      </h1>
      <h2 class="subtitle">
        Share and browse vinyl collections online
      </h2>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Vinyl Destination</strong> created by <a href="http://www.antonialston.com/">Antoni Alston</a>
      </p>
    </div>
  </div>
</footer>
